body {
  font-family: verdana;
  font-size: 10px;
  color: #797979;
  background-color: #ececec;
  margin-left: 0px;
  margin-top: 0px;
  scrollbar-face-color: #ececec;
  scrollbar-arrow-color: #0d5d0d;
  scrollbar-track-color: #ececec;
  scrollbar-shadow-color: #0d5d0d;
  scrollbar-highlight-color: #ececec;
  scrollbar-3dlight-color: #0d5d0d;
  scrollbar-darkshadow-color: #ececec;
}
B {
  font-family: verdana;
  font-size: 10px;
  color: #ff601d;
  font-weight: bold;
}
B.g {
  font-family: verdana;
  font-size: 10px;
  color: #005500;
  font-weight: bold;
}
p {
  font-family: verdana;
  font-size: 10px;
  color: #797979;
}
td {
  font-family: verdana;
  font-size: 10px;
  color: #797979;
}
A:link {
  text-decoration: none;
  color: #005500;
  font-weight: bold;
}
A:visited {
  text-decoration: none;
  color: #797979;
  font-weight: bold;
}
A:active {
  text-decoration: none;
  color: #797979;
  font-weight: bold;
}
A:hover {
  text-decoration: bold;
  color: #797979;
  font-weight: bold;
}
img.red {
  border: #cc4431 solid 2px;
}
